{% extends './base.html' %}


{% block content %}
       <div class="container py-5">

              <div class="d-flex gap-3">
              <a href="/add-todo">Add To_do</a>
              </div>
              <div class="row">
    
                     <div class="col-md-4">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{form.as_div}}
                                <button class="btn btn-info">Submit</button>
                            </form>
                     </div>
                    
              </div>
       </div>



       <script>
        const inputs = document.querySelectorAll('input');
        inputs.forEach(elem=>{
            elem.classList.add('mb-2')
        })
       </script>
{% endblock content %}
    

